section {
  width: 850px;
}
.sdlmm {
  position: relative;
  width: 850px;
  border: 2px solid #434445;
}
.sdlmm__video {
  object-fit: contain;
  transition: all 1s ease-in-out;
}
.sdlmm__video--background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.sdlmm__caption {
  padding: 0.618em;
  background: rgba(180,180,180,0.6);
}
.sdlmm[data-sdlmm-space="background"] {
  height: 480px;
}
.sdlmm[data-sdlmm-canvas-effects] .sdlmm__video {
  visibility: hidden;
  position: fixed;
  left: -9999em;
  width: inherit;
}
.sdlmm__overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.sdlmm__overlay:hover .sdlmm__overlay__square {
  outline: 0em solid #fff;
}
.sdlmm__overlay__square {
  flex-grow: 1;
  flex-shrink: 1;
  width: 8em;
  height: 8em;
  outline: 2em solid #fff;
  background: transparent;
  transition: all 1s ease-in-out;
}
.sdlmm--triangle .sdlmm__video {
  clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
}
.sdlmm--triangle .sdlmm__video:hover {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.sdlmm--circle .sdlmm__video {
  clip-path: circle(35% at 50% 50%);
  -webkit-clip-path: circle(35% at 50% 50%);
}
.sdlmm--circle .sdlmm__video:hover {
  clip-path: circle(100% at 50% 50%);
  -webkit-clip-path: circle(100% at 50% 50%);
}
